{% set salt = random(9999) %}
{% set moduleID = "demoTabs_" ~ salt  %}
{% if (not inactive) %}
	{% set activeClass = " active" %}
	{% set activeIndex = random(2) + 1 %}
{% endif %}


<div class="demo-tabs" id="{{ moduleID }}">

	<div class="demo-tabs--header">
		{% for tab in demo_tabs["tabs"] %}

			<div class="demo-tabs--tab{% if loop.index == activeIndex %}{{ activeClass }}{% endif %}"
			     data-tab-target="{{ moduleID ~ "_" ~ loop.index }}">
				{{ tab["label"] }}
			</div>

		{% endfor %}
	</div>

	<div class="demo-tabs--body">
		{% for tab in demo_tabs["tabs"] %}

			<div class="demo-tabs--panel{% if loop.index == activeIndex %}{{ activeClass }}{% endif %}"
			     id="{{ moduleID ~ "_" ~ loop.index }}">

				{% if tab["type"] == "links" %}
					<ul class="unList linklist">
						{% for item in tab["content"] %}
							<li class="countable">
								<a href="{{ item["href"] }}" title="{{ item["title"] }}">
									<span class="label">{{ item["label"] }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				{% elseif tab["type"] == "media" %}
					<ul class="unList mediaList">
						{% for item in tab["content"] %}
							{% set rand = random(9) + 1 %}
							<li>
								<a href="{{ item["href"] }}"
								   title="{{ item["title"] }}"
								   class="media">
									<div class="img">
										<img src="http://lorempixel.com/60/90/business/{{ rand }}"/>
									</div>
									<div class="bd">
										{{ item["label"] }}
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				{% elseif tab["type"] == "sitemap" %}
					<ul class="unList sitemap">
						{% set depth = 0 %}

						{% macro recursiveMenu(item, depth) %}
						{% import _self as self %}
							<li>
								<a href="{{ item["href"] }}" title="{{ item["title"] }}">
									<span class="label">{{ item["label"] }}</span>
								</a>
								{# render child elements #}
								<ul class="">
									{% for child in item["sub"] %}
										{{ self.recursiveMenu(child, depth) }}
									{% endfor %}
								</ul>
							</li>
						{% endmacro %}

						{% set depth = depth + 1 %}

						{% from _self import recursiveMenu %}


						{% for item in tab["content"] %}
							{{ recursiveMenu(item, true) }}
						{% endfor %}
					</ul>
				{% endif %}
			</div>

		{% endfor %}


		<div class="demo-tabs--placeholder">
			<strong>Select a tab</strong>
		</div>
	</div>

</div>