{% set salt = random(9999) %}
{% set moduleID = "demoTabs_" ~ salt  %}
{% if (not inactive) %}
	{% set firstClass = " active" %}
{% endif %}


<div class="demo-tabs" id="{{ moduleID }}">

	<div class="demo-tabs--header">
		{% for tab in demo_tabs["tabs"] %}

			<div class="demo-tabs--tab{% if loop.first %}{{ firstClass }}{% endif %}"
			     data-tab-target="{{ moduleID ~ "_" ~ loop.index }}">
				{{ tab["label"] }}
			</div>

		{% endfor %}
	</div>

	<div class="demo-tabs--body">
		{% for tab in demo_tabs["tabs"] %}

			<div class="demo-tabs--panel{% if loop.first %}{{ firstClass }}{% endif %}"
			     id="{{ moduleID ~ "_" ~ loop.index }}">
				<ul class="linklist">
					{% for item in tab["content"] %}
						<li>
							<a href="{{ item["href"] }}" title="{{ item["title"] }}">
								<span class="label">{{ item["label"] }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

		{% endfor %}


		<div class="demo-tabs--placeholder">
			<strong>Select a tab</strong>
		</div>
	</div>

</div>